body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f0f0f0;
    font-family: "Aptos Display", sans-serif;
	padding: 10px;
}

header h1 {
    text-align: center;
    margin: 0;
}

header i {
    display: block;
    text-align: center;
    margin: 0;
}

section h1, h2, h3{
	margin-bottom: 0;
}

section p, ul{
	margin-top: 0;
}

.container{
	width: 800px;
	background-color: #fff;
	padding: 20px 40px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.2);
	box-sizing: border-box;
}

.breadcrumbs{
	font-size: 14px;
	margin-bottom: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.bio {
  flex: 1;
}

p {
  text-align: justify;
  text-justify: inter-word;
}